<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
    <div class='container'>
        <h3>LG BESTSHOP NAVER CRAWLER</h3>
        6분 정도 걸립니다.
        완료 메시지를 받기 전까지, 절대로 다시 실행시키지 마세요.
        <form>
            <label for="fname">From date 6자리 (어제, 200101):</label>
            <input type="text" id="fromDate" name="fromDate"><br><br>
            <label for="lname">To date  6자리 (오늘, 200102):</label>
            <input type="text" id="toDate" name="toDate"><br><br>
            <a href=# id=run><button class='btn btn-default'>RUN</button></a>
        </form>
    </div>
</body>

</html>
